:root {
  --primary-font: "Zalando Sans Expanded", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
}

* {
  border: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.grid-bg {
  width: 100%;
  height: 90vh;
  background-color: #070911;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) .7px, transparent .7px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) .7px, transparent .7px);

  background-size: 60px 60px;
}


/* navbar */
.navbar {
  background-color: #070A13;
}

.nav-link {
  font-family: var(--secondary-font) !important;
  font-size: 0.9rem !important;
  color: #7B83A1 !important;
  transition: all 0.15s;
}

.nav-link:hover {
  color: #E8EAF1 !important;
}

.get-a-quote {
  font-family: var(--secondary-font) !important;
  font-size: 0.9rem !important;
  background: linear-gradient(90deg, #00e5ff, #4cff9a) !important;
  color: #070911 !important;
  transition: all 0.15s !important;
}

.get-a-quote:hover {
  opacity: .8 !important;
}

.navbar .nav-link {
  position: relative;
  padding-bottom: 5px;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #67E86C;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-link.active {
  color: #E8EAF1 !important;
}

.navbar .nav-link.active::after {
  width: 100%;
}

@media (max-width: 991px) {

  .nav-link:hover {
    color: #67E86C !important;
  }

  .navbar .nav-link.active {
    color: #67E86C !important;
  }

  .navbar .nav-link::after {
    background-color: transparent;
  }

  .navbar-collapse {
    padding: 2rem 0 !important;
  }

  .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    padding: .2rem 0 !important;
  }
}

/* hero content */
.hero-heading,
.hero-heading-changing {
  font-size: clamp(3rem, 6vw, 5.4rem) !important;
  font-family: var(--primary-font);
  font-weight: 800 !important;
}

.hero-heading {
  margin-bottom: 0%;
}

.start-your-project-btn {
  background: linear-gradient(90deg, #00e5ff, #4cff9a) !important;
  padding: 13px 26px !important;
  font-weight: 500 !important;
  font-family: var(--secondary-font);
}

.view-our-work-btn {
  background: transparent !important;
  border-color: #7B83A1 !important;
  border-width: .5px !important;
  border-style: solid !important;
  padding: 13px 26px !important;
  font-weight: 500 !important;
  font-family: var(--secondary-font);
}

.hero-eyebrow-dot {
  width: 6px !important;
  height: 6px !important;
  background: #67E86C !important;
  border-radius: 50% !important;
}