:root {
  --primary-font: "Poppins", sans-serif --secondary-font: "DM Sans", sans-serif;
}

* {
  border: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default !important;
}

.grid-bg {
  width: 100%;
  background-color: #101424;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) .7px, transparent .7px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) .7px, transparent .7px);
  padding-bottom: 80px !important;
  background-size: 60px 60px;
}


/* navbar */
.navbar {
  background-color: #070A13;
}

.nav-link {
  font-family: var(--secondary-font) !important;
  font-size: 0.9rem !important;
  color: #7B83A1 !important;
  transition: all 0.15s;
}

.logo {
  width: 200px !important;
}

.nav-link:hover {
  color: #E8EAF1 !important;
}

.get-a-quote {
  font-family: var(--secondary-font) !important;
  font-size: 0.9rem !important;
  background: linear-gradient(90deg, #f1ff00, #abc405) !important;
  color: #070911 !important;
  transition: all 0.15s !important;
}

.get-a-quote:hover {
  opacity: .8 !important;
  background: linear-gradient(90deg, #FF6425, #d96435) !important;
}

.navbar .nav-link {
  position: relative;
  padding-bottom: 5px;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #FF6425;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-link.active {
  color: #E8EAF1 !important;
}

.navbar .nav-link.active::after {
  width: 100%;
}

@media (max-width: 991px) {

  .nav-link:hover {
    color: #FF6425 !important;
  }

  .navbar .nav-link.active {
    color: #FF6425 !important;
  }

  .navbar .nav-link::after {
    background-color: transparent;
  }

  .navbar-collapse {
    padding: 2rem 0 !important;
  }

  .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    padding: .2rem 0 !important;
  }
}